files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDWDCCAkACCQCZu68k2+1KFDANBgkqhkiG9w0BAQUFADBuMQswCQYDVQQGEwJV
      UzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRpc29uMQ0wCwYDVQQK
      DARNQVRDMSowKAYJKoZIhvcNAQkBFhthbndhZ25lckBtYWRpc29uY29sbGVnZS5l
      ZHUwHhcNMjIwMzIzMjExMjM3WhcNMjMwMzIzMjExMjM3WjBuMQswCQYDVQQGEwJV
      UzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRpc29uMQ0wCwYDVQQK
      DARNQVRDMSowKAYJKoZIhvcNAQkBFhthbndhZ25lckBtYWRpc29uY29sbGVnZS5l
      ZHUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDH+8upJfHBFHuLokb3
      iYj/xSWoB7KWoid/RRdWvYmjMVU9QOW9rXcFkPYOz7yGm8hh8aGpFbBK+Iund4AA
      ugi39mDl5+cIHZaJ/8HEi3crUAofJreg0mikYL63bQJaZ1OFNgAaSs+I/0Wx8W/R
      XplrhUypJQud6z/pAUTAqF5QqDI2JN/OHS38ztArg4o3XnEMoadTNrTZqt89tJZ/
      vja9WFbTMqBrHf8XgnKQrTPpfb85Yt6Lv6hytJxpGUULPQNRRR0dx5B6iyeu72/O
      5ALt7CQTnJ/AA/XatlIT0JwIBgdiFLoh66YzrF+Wx849cDogjlXovJP4xdU3RbYF
      FCNhAgMBAAEwDQYJKoZIhvcNAQEFBQADggEBAJ4i+HFbdEBkKBN48NLBjfznflWJ
      jVf/IVesfFs3kL3vmgN1twiy/LfsOPmfeu7TbEv9EUe7X+rD44x3MlIMVU1NTegN
      iL9Hulul0ip2oBR7ITCIPMnsJzhijxOh3SrioHogk/Zw9xRFg91LP6DBE3sYa5Ps
      TAQ82cCmzL5xOcys13WAxbsFzlUn237D8+7+rwCgrhJamXUCQCTLPrrB8KSIMcSX
      4ExjfzB7WfQ2zBfOf0lBh2zoB+WRzBKcBVszmpdFPofaj7OQlXQuP/G5Cgw4ZaAw
      9Y+0nYeG9RlcKn1X0FjNNn1ppg8HIx31u70DJSL/iZVg0v8M0lMADWZGAyE=
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAx/vLqSXxwRR7i6JG94mI/8UlqAeylqInf0UXVr2JozFVPUDl
      va13BZD2Ds+8hpvIYfGhqRWwSviLp3eAALoIt/Zg5efnCB2Wif/BxIt3K1AKHya3
      oNJopGC+t20CWmdThTYAGkrPiP9FsfFv0V6Za4VMqSULnes/6QFEwKheUKgyNiTf
      zh0t/M7QK4OKN15xDKGnUza02arfPbSWf742vVhW0zKgax3/F4JykK0z6X2/OWLe
      i7+ocrScaRlFCz0DUUUdHceQeosnru9vzuQC7ewkE5yfwAP12rZSE9CcCAYHYhS6
      IeumM6xflsfOPXA6II5V6LyT+MXVN0W2BRQjYQIDAQABAoIBAQCEZZMDvPc8mM7i
      NuE86HUmv+KaR95YE6qKe7dj2b/RpsuD7f8rgDgYG0yLqcRqaaBUF6CrTIyWVc4/
      ZMH9uSwkfpzQGKO/n7cWTZh/AsY2ipro3L0dX6+fg90/mo/AQj/tJT8UKQsU68u8
      btdUiYiQwoNqR/hU6HY7UHewBMfMJSFMMJYWcRmRWqcTX0PgsoG52hFc8o6lcjw8
      gudsDGprv8567Yoj2uPSNIjlHAEjlLLsDlUZygGh4vc2Pk/Z6JF5B807oZgI3P9a
      pkOq5yfFn5W1LDf5SL3UHWNCBVfhMDz21PJLQqoLa1kWgVDHJZ/bEuzkSQs++qyL
      bHus2c7xAoGBAPq2OylSzQFbnCMQcK7lzCmj6iuBWxinkOxE+FLlkXJICh1GGO+Q
      FSpMxZCibjSk8VdMb1KoUQ5Qp2ztMlV70xjVignV4y+rJDDd/6kJVZpxgTYoI3xZ
      RUsysWuEYwMJaydZ4OtH8INL24qSTChBy99p6072pmLblCDpWgLnBURPAoGBAMwz
      paJVCYNNOWxtVTolzRQNGVB+f+YpRPa7SJKHuEgspgfs/bek+22B7TkCNQxAMe23
      FiOAH9NLlfJftqjNmZHsRsGZ443Zl3yKnqVqpvYEPsaeo/2tlzwOl/xY9BanqID5
      BAJlFGG4FhkYb21ik0v1bDPEwugds7maK2FnJEFPAoGAGY/e9FWm5U6L2t9gPdTc
      PhqiU5E60oazNgPKNdmGPNqvfVCaVkKghdGSCy8kgWWX3cjDSPA0Y3tBts9wZFrd
      qRiMnHgcU83lQL5BxOBYxAhyniz1gUYw1Hv0rvuuhK6/KCH31sVc9mYTmktUTH54
      5OyNu11WlZnBvqFMNiOL2+0CgYBhd1Favz4QJt7+ytzAKWTOakYn7ok7oX0iS1gj
      YJZsFKuW4t5jNmMv7LD+4ffSBh4OubHedfw6zTwf+OFlhuUDCoTnSX2cqjwtHLkG
      eXaBvJr+EKBzp9SkvM58izTOT24VSUZJoldtIQGjLs+YpVFrExR3TTY+tlafg1+r
      WSCr7wKBgQCT2NT9vRSnxHOt5POsCxypcdI04BkskJWm+FiFMsnwowlJjS4rJzBo
      /ER84EzwVaAwUNyr4uSbgTZQOnC619tNY8UDCvKiR7EnAAucFPRMO/mXZKKadeHY
      v07gnEHj6Cx1dTfbN4+8dISzTiJoSw9OJdYoUsK4haPn9hDJ5LSTjQ==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart